<form method="post">
    <h2>Login</h2>
    <div>
        <label for="idName">Name:</label>
        <input type="text" id="idName" name="username">
    </div>
    <div>
        <label for="idPassword">Password:</label>
        <input type="password" id="idPassword" name="password">
    </div>
    <button>Login</button>
</form>