html,body{
  margin:0;
  padding:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display:grid;
  min-height: 100vh;
  grid-template-rows: auto  1fr auto;;
}

header,footer{
  background-color: red;
  display:flex;
  justify-content: center;
  gap:1rem;
  padding: 1rem;
}